In [ ]:
1
11
111
1111
11111

In [1]:
list1 = [1,5,7,8,5]

In [3]:
for x in list1:
    print(x)

1
5
7
8
5

In [5]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
a = 1
for x in range(0,5):
    print(a)
    a = a*10+1

1
11
111
1111
11111

In [19]:
for i in range(1,6):
    for j in range(0,i):
        print(1,end='')
    print()

1
11
111
1111
11111

In [ ]:
for i in range()

In [27]:
list(range(6,-1,-1))

[6, 5, 4, 3, 2, 1, 0]

In [31]:
for i in range(5,0,-1):
    for j in range(0,i):
        print(1,end='')
    print()

11111
1111
111
11
1

In [33]:
f = 1
x = int(input("enter any number"))

for i in range(1,x+1):
    f = f*i
print("factorial = "+str(f))

enter any number5
factorial = 120

In [34]:
list1 = [1,45,567,67]

In [36]:
for x in list1:
    print(x)
else:
    print("Now loop is terminated")

1
45
567
67
Now loop is terminated

In [39]:
for i in range(1,15):
    if i==10:
        continue
    print(i)

1
2
3
4
5
6
7
8
9
11
12
13
14

In [44]:
n = int(input("enter any number"))
isprime = True
for d in range(2,n):
    if n%d==0:
        isprime=False
        break
if isprime:
    print("given number is prime")
else:
    print("given number is not prime")

enter any number17
given number is prime

In [41]:
True

True

In [42]:
True==True

True

In [43]:
True==False

False