### function is the block of statement which perform some task and return the value. it take arugument/ parameter as a input

#### we use the def keyword to declare the function in python

In [1]:
def function_name():
    print("this is function example")

In [2]:
function_name()

this is function example

In [12]:
def iseven(x):
    if type(x)==int:
        if x%2==0:
            print("given number is even")
        else:
            print("given number is odd")
    else:
        print(f"Please pass the integer rather than {type(x)}")

In [13]:
iseven(18)

given number is even

In [14]:
def isequal(x,y):
    return x==y

In [18]:
isequal()

TypeError: isequal() missing 2 required positional arguments: 'x' and 'y'

In [17]:
12==12

True

In [19]:
list1 = [12,34,4,556,67,6]

In [25]:
list1.sort()

In [26]:
list1.sort(reverse=True)

In [33]:
def myfunc(x='hi'):
    print(x)

In [36]:
myfunc(10)

10

In [37]:
def myfunc2(x,y=6):
    return x+y

In [39]:
myfunc2(10,23)

33

In [40]:
def isprime(n):
    for i in range(2,n):
        if n%i==0:
            return False
    return True

In [42]:
isprime(8)

False

In [43]:
list1 = [1,3,4,5,67,7,4,3,2,4,5,67,5,3,2,1,2,4,5,6,6,7,7,4,34,4,5,5]

In [44]:
prime_only = []

In [46]:
for i in list1:
    if isprime(i):
        prime_only.append(i)

In [47]:
prime_only

[1, 3, 5, 67, 7, 3, 2, 5, 67, 5, 3, 2, 1, 2, 5, 7, 7, 5, 5]

In [48]:
list1

[1,
 3,
 4,
 5,
 67,
 7,
 4,
 3,
 2,
 4,
 5,
 67,
 5,
 3,
 2,
 1,
 2,
 4,
 5,
 6,
 6,
 7,
 7,
 4,
 34,
 4,
 5,
 5]

In [50]:
5 in list1

True

In [52]:
'n' in 'my name is khan'

True

In [53]:
mytext = "this is my text and you have to count the number of vowels in this text"

In [59]:
v = 0
for i in mytext:
    if i=='a' or i=='e' or i =='i' or i=='o' or i=='u':
        v+=1

In [60]:
v

20

In [61]:
v = 0
for i in mytext:
    if i in 'aeiou':
        v+=1

In [62]:
v

20

In [64]:
'a' in 'aeiou'

True

In [65]:
def isvowel(x):
    return x in 'aeiou'

In [68]:
v = 0
for i in mytext:
    if isvowel(i):
        v+=1

In [69]:
v

20

In [70]:
saarc = ['nepal','india','bangladesh','bhutan','maldives','shrilanka','afganisthan','pakisthan']

In [72]:
country = input("enter your country name")

if country in saarc:
    print("you are in saarc country")
else:
    print("you are not in saarc country")

enter your country namechina
you are not in saarc country

In [73]:
listx = [1,2,4,5,6,7]

In [74]:
listy = [4,5,7,3,2,1]

In [79]:
listz = [4,5,6,6,3,2]

In [80]:
list(zip(listx,listy,listz))

[(1, 4, 4), (2, 5, 5), (4, 7, 6), (5, 3, 6), (6, 2, 3), (7, 1, 2)]

In [81]:
listx

[1, 2, 4, 5, 6, 7]

In [82]:
listy

[4, 5, 7, 3, 2, 1]

In [86]:
listo = []
for x,y in zip(listx,listy):
    listo.append(x*y)

In [88]:
listo

[4, 10, 28, 15, 12, 7]

In [89]:
point1 = [(1,3),(1,4),(1,6),(1,3)]

In [90]:
point2 = [(1,3),(3,5),(2,3),(2,4)]

In [91]:
d = []