### list is the order collection of data that mean the data inside the list can be arrange is ascending or descending order.

In [1]:
list1 = [1,1.12,True,"nepal"]

In [8]:
list1[-1][2:]

'pal'

In [6]:
list1[1:3]

[1.12, True]

In [9]:
list1 = [1,1.12,True,"nepal",[1,5,3,"nepal"]]

In [12]:
list1[-1][-1][-1]

'l'

In [18]:
mynewlist = [1,23,34,[12,34,45,45,[2,34,45,"nepal"]],23,45,46]

In [20]:
mynewlist[-4][-1][-1][-1]

'l'

In [21]:
list1 = [1,23,45,56,67,34]

In [22]:
list1

[1, 23, 45, 56, 67, 34]

In [26]:
list1.append(76)

In [27]:
list1.extend([12,23,35,46])

In [28]:
list1

[1, 23, 45, 56, 67, 34, 76, 76, 12, 23, 35, 46]

In [ ]:
list1 = list1+[12,23,35,46]

In [30]:
list1.insert(3,47)

In [31]:
list1

[1, 23, 45, 47, 56, 67, 34, 76, 76, 12, 23, 35, 46]

In [32]:
list1

[1, 23, 45, 47, 56, 67, 34, 76, 76, 12, 23, 35, 46]

In [33]:
list1.pop()

46

In [34]:
list1

[1, 23, 45, 47, 56, 67, 34, 76, 76, 12, 23, 35]

In [35]:
y = list1.pop()

In [37]:
list1.pop(2)

45

In [38]:
list1

[1, 23, 47, 56, 67, 34, 76, 76, 12, 23]

In [39]:
list1.remove(67)

In [40]:
list1

[1, 23, 47, 56, 34, 76, 76, 12, 23]

In [41]:
a = [1,1,5,1,2,1]

In [52]:
y = [1,2,34,456,67,79,56,56]

In [53]:
x = y

In [57]:
y

[1, 2, 34, 456, 67, 79, 56, 56]

In [58]:
x

[1, 2, 34, 456, 67, 79, 56, 56]

In [59]:
y.append(34)

In [60]:
x

[1, 2, 34, 456, 67, 79, 56, 56, 34]

In [61]:
x.append(1111)

In [62]:
x

[1, 2, 34, 456, 67, 79, 56, 56, 34, 1111]

In [63]:
y

[1, 2, 34, 456, 67, 79, 56, 56, 34, 1111]

In [64]:
x

[1, 2, 34, 456, 67, 79, 56, 56, 34, 1111]

In [65]:
y

[1, 2, 34, 456, 67, 79, 56, 56, 34, 1111]

In [66]:
z = x.copy()

In [67]:
z

[1, 2, 34, 456, 67, 79, 56, 56, 34, 1111]

In [68]:
x

[1, 2, 34, 456, 67, 79, 56, 56, 34, 1111]

In [69]:
z.append(1212)

In [70]:
z

[1, 2, 34, 456, 67, 79, 56, 56, 34, 1111, 1212]

In [71]:
x

[1, 2, 34, 456, 67, 79, 56, 56, 34, 1111]

In [75]:
x.reverse()

In [78]:
x  = [1,1,1,2,3,4]

In [80]:
x.count(1)

3

In [82]:
x.index(2)

3

In [87]:
x = [1,3,5,8,3,6,2,7,2,7,3,8,3,7]

In [90]:
x.sort(reverse=True)

In [91]:
x

[8, 8, 7, 7, 7, 6, 5, 3, 3, 3, 3, 2, 2, 1]

In [92]:
saarc = ['nepal','india','pakisthan','bangladesh','maldives','shrilanka','afganisthan']

In [93]:
saarc.sort()

In [94]:
saarc

['afganisthan',
 'bangladesh',
 'india',
 'maldives',
 'nepal',
 'pakisthan',
 'shrilanka']

In [95]:
list1

[1, 23, 47, 56, 34, 76, 76, 12, 23]

In [96]:
list1.clear()

In [97]:
list1

[]

In [98]:
x = {'vodka':800,'beer':320,'olddurbar':2200,'thara':35,'gin':900}

In [101]:
x['gin']

900

In [102]:
x['vodka']=1200

In [104]:
x.update({'redlabel':9000})

In [106]:
x.update({'bluelabel':9000,'abc':900})

In [109]:
x.keys()

dict_keys(['vodka', 'beer', 'olddurbar', 'thara', 'gin', 'redlabel', 'bluelabel', 'abc'])

In [110]:
x.values()

dict_values([1200, 320, 2200, 35, 900, 9000, 9000, 900])

In [111]:
x.items()

dict_items([('vodka', 1200), ('beer', 320), ('olddurbar', 2200), ('thara', 35), ('gin', 900), ('redlabel', 9000), ('bluelabel', 9000), ('abc', 900)])

In [112]:
x.get('vodka')

1200

In [113]:
x['vodka']

1200

In [114]:
x.pop('vodka')

1200

In [116]:
list1 = [1,2,4,5,{"nepal":444,"india":111}]

In [121]:
list1[-1]['nepal']

444

In [122]:
dict1 = {'nepal':[12,34,45,56]}

In [124]:
dict1['nepal'][-1]

56

In [125]:
myshopping = {
    'women':{'watch':8000,'bag':9000,'tshirt':1500,'pant':2000},
    'men':{'watch':9000,'bag':7000,'tshirt':2000,'pant':5000}
}

In [126]:
# 2 mens pant
# 3 women watch
# 2 man tshirt
# 1 women bag